@model DeltaXProject.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
