@model IEnumerable<DeltaXProject.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>
<span style="color:red">
    @ViewBag.Error
</span>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            Producer
        </th>
        <th>
            Actors
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plot)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Poster)*@
                <img src="@Url.Action("RetrieveImage","Movie", new { id = item.MovieID})" alt="No Image" height="100" width="200" />
                @*<img src="/Content/RetrieveImage/@item.MovieID" alt="" height=100 width=200 />*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                @{ int count = 1;}
                @foreach (var subitem in item.Actors)
                {
                    int actorCount = item.Actors.Count;


                    @subitem.ActorName

                    if (count < actorCount)
                    {
                        count++;
                        <span>,</span>
                    }

                }

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
            </td>
        </tr>
    }

</table>
